:root {
  --color-brand: #cc401c;
  --color-brand-bright: #f03607;
  /*--color-brand-dark: #;*/

  --color-brown: #544f4e;
  --color-brown-medium: #948778;
  --color-brown-dark: #2e2b2b;
}

.brand {
  color: var(--color-brand);
}

/*.brand-dark {
  color: var(--color-brand-dark);
}
*/
