:root {
  --color-brand: #cc401c;
  --color-brand-bright: #f03607;
  --color-brand-medium: #ba3b1a;
  --color-brand-dark: #a83517;
  --color-brand-darker: #8f2d15;
  --color-brand-darkest: #7a2611;

  --color-brown: #544f4e;
  --color-brown-medium: #f5f0eb;
  --color-brown-offwhite: #fcf8f4;
  --color-brown-lightest: #f7f3ef;
  --color-brown-lighter: #f0eae4;
  --color-brown-light: #dbd3cc;
  --color-brown-dark: #2e2b2b;
}

.brand {
  color: var(--color-brand);
}

.brand-medium {
  color: var(--color-brand-darker);
}

.brand-dark {
  color: var(--color-brand-darkest);
}

