:root {
  --color-brand: #cc401c;
  --color-brand-bright: #f03607;

  --color-brown: #544f4e;
  --color-brown-light: #dbd3cc;
  --color-brown-dark: #2e2b2b;

  --color-grey-light: #fafafa;
}

.brand {
  color: var(--color-brand);
}
