html {
  overflow-x: hidden;

  background-color: #fff;;

  font-family: Georgia,sans-serif;
  font-weight: bold;
}

html.fonts-loaded {
  font-family: "Bree Serif",Arial,sans-serif;
  font-weight: normal;
}

body {
  min-height: 100vh;

  color: var(--color-brown);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: normal;
}

::selection {
  background-color: var(--color-brand);
  color: #fff;
  text-shadow: none;
}

a {
  background-image: linear-gradient(to top, transparent 0, transparent .06em, currentColor .06em, currentColor .13em, transparent .13em, transparent 100%);
  text-shadow: .1em 0 0 #fff, .1em .1em 0 #fff, 0 .1em 0 #fff, -.1em .1em 0 #fff, -.1em 0 0 #fff;

  color: var(--color-brand);
  text-decoration: none;
}

a:hover {
  color: var(--color-brand-bright);
}

h1:focus,
h2:focus,
a:focus {
  outline: 3px solid #000;
}

.no-mark-link {
  background-image: none;
  text-shadow: none;
}

.text-dark {
  color: var(--color-brown-dark);
}

.text-light {
  color: #999;
}

.text-light a {
  color: #999;
}

.text-light a:hover {
  color: #666;
}

p {
  max-width: 26em;
}

dl {
  overflow: hidden;
}

dt {
  clear: left;
  float: left;
  margin-right: .375rem;
}

dd {
  margin: 0;
}

.wrapper {
  padding: 3rem 0.75rem;
}

.footer-details {
  padding-bottom: 1.5rem;
}

.footer-copyright {
  padding-top: 0;
}

.page {
  padding-left: 16px;
}

.section {
  position: relative;
}

.section::before {
  content: " ";
  bottom: 0;
  left: -16px;
  position: absolute;
  top: 0;
  width: 16px;
}

.section-top,
.section-bottom {
  background-color: var(--color-grey-light);
}

.section-top::before,
.section-top::after {
  background-color: var(--color-brand);
}

.section-bottom::before,
.section-bottom::after {
  background-color: #5c1d0d;
}

.section-top a,
.section-bottom a {
  text-shadow: .1em 0 0 var(--color-grey-light), .1em .1em 0 var(--color-grey-light), 0 .1em 0 var(--color-grey-light), -.1em .1em 0 var(--color-grey-light), -.1em 0 0 var(--color-grey-light);
}

.section-prof::before {
  background-color: #ba3b1a;
}

.section-dev::before,
.section-dev::after {
  background-color: #a83517;
}

.section-write::before {
  background-color: #8f2d15;
}

.section-nerd::before,
.section-nerd::after {
  background-color: #7a2611;
}

.section-family::before,
.section-family::after {
  background-color: #69210f;
}

.photo {
  overflow: hidden;

  border-radius: 50%;
}

.photo-wrapper {
  padding: 1.5rem;
}

.photo-family {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.me {
  right: .75rem;
  position: absolute;
  top: 10px;
  width: 70px;
  height: 70px;
}

.link {
  clear: both;
  padding-left: 1.2em;
  position: relative;
  text-overflow: ellipsis;
}

.link::before {
  content: "—";
  left: 0;
  position: absolute;

  color: var(--color-brown-light);
}

.logo {
  display: block;
  margin: 0 .75rem -1.5rem;
  padding-top: 1rem;
  width: 30px;

  color: #fff;
}

.logo:hover {
  color: #fff;
}

.rocket {
  fill: var(--color-brand);
}

@media only screen and (min-width: 38em) {

  .wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .page {
    padding-left: 70px;
  }

  .section::before {
    left: -70px;
    width: 70px;
  }

  .rocket {
    fill: #fff;
  }

  .me {
    height: 80px;
    top: 1rem;
    width: 80px;
  }

  .logo {
    left: -56px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 16px;
    width: 40px;

    color: #fff;
  }

  .social-links > li {
    display: inline-block;
  }

  .link-short {
    clear: none;
    float: left;
    width: 50%;
  }

  .footer-details {
    padding-bottom: 3rem;
  }

  .footer-copyright {
    padding-top: 3rem;
  }

}

@media only screen and (min-width: 60em) {

  .wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .page {
    padding-right: 30px;
  }

  .logo {
    top: 1.5rem;
  }

  .section-dev::before,
  .section-nerd::before {
    content: none;
  }

  .section-top::after,
  .section-bottom::after,
  .section-dev::after,
  .section-nerd::after,
  .section-family::after {
    content: " ";
    bottom: 0;
    right: -30px;
    position: absolute;
    top: 0;
    width: 30px;
  }

  .me {
    height: 140px;
    right: 3rem;
    top: 50%;
    width: 140px;

    transform: translateY(-50%);
  }

  .link-short {
    clear: both;
    float: none;
    width: 100%;
  }

}

@media only screen and (min-width: 68em) {

  .me {
    height: 240px;
    width: 240px;
  }

}

@media only screen and (min-width: 74em) {

  .link-short {
    clear: none;
    float: left;
    width: 50%;
  }

}

@media only screen and (min-width: 90em) {

  .logo {
    top: 1.8rem;
  }

}
