html {
  overflow-x: hidden;

  background-color: #fff;;

  font-family: "Bree Serif",sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;

  color: var(--color-brown);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: normal;
}

::selection {
  background-color: var(--color-brand);
  color: #fff;
  text-shadow: none;
}

a {
  background-image: linear-gradient(to top, transparent 0, transparent .08rem, currentColor .08rem, currentColor .18rem, transparent .18rem, transparent 100%);
  text-shadow: .1em 0 0 #fff, .1em .1em 0 #fff, 0 .1em 0 #fff, -.1em .1em 0 #fff, -.1em 0 0 #fff;

  color: var(--color-brand);
  text-decoration: none;
}

a:hover {
  color: var(--color-brand-bright);
}

h1:focus,
h2:focus,
a:focus {
  outline: 3px solid #000;
}

.no-mark-link {
  background-image: none;
  text-shadow: none;
}

.text-dark {
  color: var(--color-brown-dark);
}

.wrapper {
  padding: 3rem 0.75rem;
}

p {
  max-width: 26em;
}

.page {
  padding-left: 16px;
}

.section {
  position: relative;
}

.section::before {
  content: " ";
  bottom: 0;
  left: -16px;
  position: absolute;
  top: 0;
  width: 16px;
}

.section-top {
  /*background-image: linear-gradient(to bottom right, var(--color-brown-offwhite), #fff);*/
  /*background-color: var(--color-brown-lighter);*/
}

.section-top::before,
.section-top::after {
  background-color: var(--color-brand);
}

.section-top a {
  /*text-shadow: .1em 0 0 var(--color-brown-lighter), .1em .1em 0 var(--color-brown-lighter), 0 .1em 0 var(--color-brown-lighter), -.1em .1em 0 var(--color-brown-lighter), -.1em 0 0 var(--color-brown-lighter);*/
}

.section-prof {
  /*background-image: linear-gradient(to bottom right, var(--color-brown-offwhite), #fff);*/
  /*background-color: var(--color-brown-medium);*/
}

.section-prof::before {
  background-color: var(--color-brand-medium);
}

.section-dev {
  /*background-image: linear-gradient(to bottom right, var(--color-brown-offwhite), #fff);*/
  /*background-color: var(--color-brown-lightest);*/
}

.section-dev::before,
.section-dev::after {
  background-color: var(--color-brand-dark);
}

.section-prof a,
.section-dev a {
  /*text-shadow: .1em 0 0 var(--color-brown-lightest), .1em .1em 0 var(--color-brown-lightest), 0 .1em 0 var(--color-brown-lightest), -.1em .1em 0 var(--color-brown-lightest), -.1em 0 0 var(--color-brown-lightest);*/
}

.section-write {
  /*background-image: linear-gradient(to bottom right, var(--color-brown-offwhite), #fff);*/
  /*background-color: var(--color-brown-offwhite);*/
}

.section-write::before {
  background-color: var(--color-brand-darker);
}

.section-family {
  /*background-image: linear-gradient(to bottom right, var(--color-brown-offwhite), #fff);*/
}

.section-family::before,
.section-family::after {
  background-color: var(--color-brand-darkest);
}

.photo {
  right: .75rem;
  position: absolute;
  top: 10px;
  width: 70px;
  height: 70px;

  overflow: hidden;

  border-radius: 50%;
}

.social-link::after {
  content: "—";
  display: inline-block;
  margin-left: .2em;

  color: var(--color-brown-light);
}

.social-link:last-child::after {
  content: none;
}

.logo {
  display: block;
  margin: 0 .75rem -1.5rem;
  padding-top: 1rem;
  width: 30px;

  color: #fff;
}

.logo:hover {
  color: #fff;
}

.rocket {
  fill: var(--color-brand);
}

@media only screen and (min-width: 38em) {

  .wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .page {
    padding-left: 70px;
  }

  .section::before {
    left: -70px;
    width: 70px;
  }

  .rocket {
    fill: #fff;
  }

  .photo {
    height: 80px;
    top: 1rem;
    width: 80px;
  }

  .logo {
    left: -56px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 16px;
    width: 40px;

    color: #fff;
  }

}

@media only screen and (min-width: 60em) {

  .wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .page {
    padding-right: 30px;
  }

  .logo {
    top: 1.5rem;
  }

  .section-dev::before,
  .section-family::before {
    content: none;
  }

  .section-top::after,
  .section-dev::after,
  .section-family::after {
    content: " ";
    bottom: 0;
    right: -30px;
    position: absolute;
    top: 0;
    width: 30px;
  }

  .photo {
    height: 240px;
    right: 3rem;
    top: 50%;
    width: 240px;

    transform: translateY(-50%);
  }

}

@media only screen and (min-width: 90em) {

  .logo {
    top: 1.8rem;
  }

}
