---
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Thomas J Bradley · Open Web Professor, Developer &amp; Writer—Ottawa, Canada</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="application-name" content="Thomas J Bradley">
  <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
  <meta name="msapplication-TileImage" content="favicon-144.png">
  <meta name="msapplication-TileColor" content="#cf410f">
  <style>
    {% include main.min.css %}
  </style>
</head>
<body>

{{content}}

</body>
</html>
