---
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Thomas J Bradley · Open Web Professor, Developer &amp; Author—Ottawa, Canada</title>
  <meta name="description" content="Thomas J Bradley is a Professor, Developer, and Author of The Open Web. I believe that everybody should perpetually learn, try, build, break, &amp; fix things.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="application-name" content="Thomas J Bradley">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
  <meta name="msapplication-TileImage" content="favicon-144.png">
  <meta name="msapplication-TileColor" content="#cf410f">
  <link rel="profile" href="http://osprotocol.com">
  <meta property="os:repo" content="https://github.com/thomasjbradley/thomasjbradley.ca">
  <meta property="os:rcs_type" content="git">
  <meta property="os:src" content="git@github.com:thomasjbradley/thomasjbradley.ca.git">
  <meta property="os:issue" content="https://github.com/thomasjbradley/thomasjbradley.ca/issues">
  <link src="fonts/breeserif-regular.woff" rel="prefetch">
  <style>{% include main.min.css %}</style>
</head>
<body>

{{content}}

<script>{% include fontfaceobserver.js %}</script>
<script>
  var observer;

  if (!sessionStorage.breeSerifLoaded) {
    observer = new FontFaceObserver('Bree Serif');

    observer.check().then(function () {
      document.documentElement.className += ' fonts-loaded';
      sessionStorage.breeSerifLoaded = true;
    });
  } else {
    document.documentElement.className += ' fonts-loaded';
  }
</script>
</body>
</html>
